@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-bg-color: #592986;
  --secondary-bg-color: black;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
html, body {
  animation: none;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: "Ubuntu", "Roboto";
}
body {
  background-image: linear-gradient(to top right, var(--secondary-bg-color), var(--primary-bg-color));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}